/*test*/
table {
  color: gray;
  border: 2px solid gray;
  border-radius: 8px;
  border-spacing: 10px;
  width: 300px;
  height: 100px;
}
.table-purple {
  color: purple;
}
.table-bold {
  font-weight: bold;
}
.warhammer {
  color: gray;
}
#ideveloper {
  font-weight: bold;
  color: orange;
}
.list > li {
  color: blue;
}
.font-size-md{
  font-size: 18px;
}
.font-size-md.color-green{
  color: green;
}
.font-size-md.color-red{
  color: red;
}
p{
  text-align:center;
  font-family: Arial;
  font-size: 14px;
}
.block1{
  color: blue;
}
.block2{
  color: red;
}
.block1 p, .block2 p{
  text-align: left;
}
.screen1{
  width:300px;
  height:500px;
  background-color: #e4f1ed;
  /*background-image: url("tank 78x67.png");*/
  border: 2px solid gray;
  border-radius: 16px;
}
#title{
color: gray;
text-align: left;

}
