/**********'Screen 1'************************/
.frame1{
  /* Main window*/
  display flex;
  position: absolute;
  width:380px;
  height:800px;
  background-color: #ffffff;
  border: 2px solid #FFFFFF;/*#B4CCFB;*/
  border-radius: 16px;
}

.frame2{
  /* Content screen*/
display: flex;
position: relative;
flex-direction:column;
padding: 0px;
width: 340px;
height: 780px;
left: calc(50% - 348px/2);
top:10px;
/* background-color: #F8FFAF; */
}

.lvl1-title{
  /* AREA #1 */
display: flex;
position: relative;
flex-direction: row;
align-items: center;
width: 340px;
height: 40px;
overflow: hidden;
/* background-color: #F8FF0F; */
}
.lvl1-title .background_menu{
  /*element of menu (circle)*/
position: absolute;
width: 40px;
height: 40px;
background-color: #B4CCFB;
opacity: 0.5;
border-radius: 40px;
}
.menu{
  /* Icon menu */
position: absolute;
top:24%;
left:28%;
}
.lvl1-title .title{
/* Repeat EN 🡢 RU*/
position: absolute;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 35px;
letter-spacing: -0.025em;
color: #131D25;
left: 48px;
}

/***************Radio button*****************************/
.lvl2-mode{
/*AREA #2 - Radio buttons */
display: grid;
grid-template-columns: auto auto;
grid-column-gap: 50px;
width:340px;
padding-top: 30px;
}
.custom-radio{
  font-family: Rubik;
  font-weight: 400;
  font-size: 18px;
}
/* для элемента input c type="radio" */
.custom-radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio>span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #B4CCFB;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio>input:not(:disabled):active+span::before {
  background-color: #B4CCFB;
  border-color: #B4CCFB;
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio>input:focus+span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio>input:focus:not(:checked)+span::before {
  border-color: #B4CCFB;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio>input:checked+span::before {
  border-color:#B1CCFF;
  background-color: #B1CCFF;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio>input:disabled+span::before {
  background-color: #e9ecef;
}




.statistic{
  /*AREA #3 - info*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0px 0px 0px;
  /*background-color: #00FFFF;*/
}
#text1, #text2, #text3{
  padding: 0px 0px 25px 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  font-family: Rubik;
  font-size: 16px;
  color: #A7A8AB;;
}
/* for debug
#text1{
  background-color: #A20FF0;
}
#text2{
  background-color: #FF0FF0;
}
#text3{
  background-color: #D80FAA;
}*/

.group{
  /*AREA #4 - Output value*/
  display: grid;
  grid-template-rows: 3;
  grid-gap: 25px;
  color:#A7A8AB;
  justify-items: center;
}
.my-output-field{
  /* draw output field*/
display: flex;
flex-direction: column;
align-items: flex-start;
width: 340px;
height: 56px;
border: 2px solid #B4CCFB;
border-radius: 16px;
padding: 0px 0px 0px 0px;
background: #FFFFFF;
}
.my-field-label{
  padding: 4px 0px 0px 24px;
  font-family: Rubik;
  font-weight: 400;
  font-size: 14px;
  color: #A7A8AB;
}
.my-field-out{
  padding: 4px 0px 0px 24px;
  font-weight: 400;
  font-family: Rubik;
  font-size: 22px;
  color: #131D25;
}
.group2{
  position:relative;
}
.my-control-H, .my-control-L{
  /*Control panel for repeat words*/
  display: grid;
  justify-items: center;
  width: 340px;
}
.my-control-H{
  padding-top: 30px;
}
.my-control-L{
  padding-bottom:30px;
  margin-top: calc(-45px/4);
}
#sub-row{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  width: 340px;
  grid-column-gap: 215px;
  margin-top: calc(-45px/4);
}

.my-btn{
  /*button move to Screen2*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 56px;
  border: 2px solid #B4CCFB;
  border-radius: 16px;
  margin-top: 10px;
  font-weight: 400;
  font-family: Rubik;
  font-size: 16px;
  /* background-color: #F8FFAF; */
}

.eff-btn{
  opacity:  0.5;
}
